<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.application.yancychan.checkin">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatFullScreen" />
        <activity
            android:name=".activities.CourseListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"/>
        <activity
            android:name=".activities.CourseDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"/>
        <activity
            android:name=".activities.AddCourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"/>
        <activity
            android:name=".activities.CourseEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"/>
        <activity
            android:name=".activities.RetrievePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatFullScreen" />
        <activity
            android:name=".activities.CourseCheckInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme"/>
    </application>

</manifest>